body {
    background: Grey;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.nav-row {
    width: 100%;
}

#bg-white {
    background: white;
}

#bg-teal {
    background: teal;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}

.headings {
    color: teal;
    padding: 10px;
    border-bottom: .5px solid grey;
}

.profilePic {
    padding-top: 10px;
}

.bg-personalized {
    background: slategray;
    border-top: teal 5px solid;
    color: white;
    padding: 10px;
}

#spacing {
    margin-bottom: 60px;
}

.padMe {
    padding: 10px;
}

.btn-teal {
    background: teal;
    color: white;
}